@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100&family=Libre+Baskerville:wght@700&family=M+PLUS+Rounded+1c&family=Montserrat:ital@1&family=Open+Sans:ital@1&family=Poppins:wght@400;600;700&family=Questrial&family=Roboto&display=swap");

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

.active {
  border-bottom: 2px solid #ad3989; /* You can adjust the color as needed */
}
